@import 'reset';

$primary-font: -apple-system,
BlinkMacSystemFont,
'Segoe UI',
Roboto,
Oxygen,
Ubuntu,
Cantarell,
'Open Sans',
'Helvetica Neue',
sans-serif;

body,
html {
    height: 100%;
    width: 100%;
    // overflow: hidden;
}

body {
    font-family: $primary-font;
    // background: #292929;
    color: white;
}

.container-wrap {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    flex-direction: column;
}

.container {
    // width: 100%;
    // height: 100%; // vh
    width: 100%; //95
    height: 100%; //90
    display: flex;
}

.sidebar {
    background: #3D3D3D;
    width: 20%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.inner-container {
    width: 100%; //80
    // height: 100%;
    background: #5B5B5B;
    // background: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

h1 {
    text-align: center;
}

.chat-container {
    // height: 83%;
    // width: 100%;
    height: 84%;
    width: 100%;
    font-size: 1.6em;
    display: flex;
    justify-content: center;

    #chat {
        width: 95%;
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow: auto;

        p {
            padding: 10px;
        }

        .receive {
            width: 40%;
            text-align: right;
            align-self: flex-end;
        }

        .send {
            width: 40%;
        }

        .time {
            font-size: 0.5em;
            padding: 0px 10px;
        }
    }
}

button {
    width: 150px;
    background: white;
    color: black;
    border: 0;
    padding: 10px;
    border-radius: 20px;
    font-family: $primary-font;
    font-weight: 500;
    outline: 0;
    cursor: pointer;

    &:hover {
        // box-shadow: 3px 3px 3px #1c1c1c;
        background: #2b2b2b !important;
        color: white;
    }

    &:active {
        box-shadow: 2px 3px 6px #1c1c1c;
    }

    &.success {
        background: #0cb80c;
        color: white;
    }

    &.danger {
        background: #ff2222;
        color: white;
    }
}

.msg-bar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 99%;
    padding: 5px;

    input[type="text"] {
        width: 80%;
        height: 35px;
        border-radius: 20px;
        border: 1px solid #a4a4a4;
        padding: 0 15px;
        font-size: 1em;
        font-family: $primary-font;
        outline: none;
    }

    button {
        background: #0cb80c;
        color: white;
    }
}

textarea {
    width: 100%;
}

nav {
    background: #676767;
    display: flex;
    height: 50px;
    width: 100%; //95
    align-items: center;
    justify-content: space-between;

    .logo,
    .menu li {
        padding: 5px;
        margin: 15px;
    }

    .menu {
        display: flex;
    }
}

.chat-settings-toggle {
    position: absolute;
    right: 0;
    fill: white;
    padding: 25px;
}

.btn-group {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    height: 220px;

    button:nth-child(1) {
        margin-bottom: -20px;
    }
}

#key {
    display: flex;
}