@import 'reset';

$primary-font: -apple-system,
BlinkMacSystemFont,
'Segoe UI',
Roboto,
Oxygen,
Ubuntu,
Cantarell,
'Open Sans',
'Helvetica Neue',
sans-serif;

body,
html {
    height: 100%;
    width: 100%;
    // overflow: hidden;
}

body {
    font-family: $primary-font;
    // background: #292929;
    color: white;
}

.container-wrap {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}

.container {
    // width: 100%;
    // height: 100%; // vh
    width: 95%;
    height: 90%;
    display: flex;
}

.sidebar {
    background: #3D3D3D;
    width: 20%;
    height: 100%;
}

.inner-container {
    width: 100%; //80
    // height: 100%;
    background: #5B5B5B;
    // background: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

h1 {
    text-align: center;
}

.chat-container {
    // height: 83%;
    // width: 100%;
    height: 84%;
    width: 100%;
    font-size: 1.6em;
    display: flex;
    justify-content: center;

    #chat {
        width: 95%;
        height: 100%;
        display: flex;
        flex-direction: column;
        overflow: auto;

        p {
            padding: 10px;
        }

        .receive {
            width: 40%;
            text-align: right;
            align-self: flex-end;
        }

        .send {
            width: 40%;
        }
    }
}

.msg-bar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 99%;
    padding: 5px;

    input[type="text"] {
        width: 90%;
        height: 30px;
        border-radius: 20px;
        border: 1px solid #a4a4a4;
    }

    button {
        width: 33%; // 8

        background: green;
        border: 0;
        color: white;
        padding: 10px;
        border-radius: 20px;
    }
}

textarea {
    width: 100%;
}